__pycache__/
*.csv
*.xl*
*.mp3*
*.jpg
*.webp
.venv/*
venv/
./downloads/*
downloads/
*.zip
fonts/cour.ttf
fonts/courbd.ttf
fonts/courbi.ttf
fonts/couri.ttf
media/fonts/cour.ttf
media/fonts/courbd.ttf
media/fonts/courbi.ttf
media/fonts/couri.ttf
.env
logs/
harry_mack.db
*.db